{% extends 'base.html' %}

{% block title %}Contatti - Polisportiva San Paolo{% endblock %}

{% block content %}
<h2>Contattaci</h2>
<p>Se hai domande, commenti o desideri ulteriori informazioni, non esitare a contattarci. Puoi raggiungerci tramite i seguenti metodi:</p>
<ul>
    <li><strong>Telefono:</strong> +39 123 456 7890</li>
    <li><strong>Email:</strong> info@polisportivasanpaolo.it</li>
    <li><strong>Indirizzo:</strong> Via dello Sport, 123, 00100 Roma, Italia</li>
</ul>
{% endblock %}
